*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title-logo{
    height: 50px;
    width: 50px;
    position: relative;
    top: 0.75em;
    left: 3%;;
}
.title{
    font-size: 30px;
    font-weight: 900;
    font-family: bold 'Quicksand';
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    position: relative;
    bottom: 1em;
}
.title .title-logo{
    display: inline-block;
    vertical-align: middle;
}

.navbar{
    background-color: white;
    color: #0c1753;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    box-shadow: 0px 2px 7px -2px black;
}
.nav-list{
    list-style-type: none;
    font-weight: 900;
    font-family: BOLD 'Quicksand';
}
.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}
.nav-list .list-item a{
    text-decoration: none;
    color: #0c1753;
}
.nav-list .list-item a:hover{
    opacity: 0.7;
    cursor: pointer;
}
.home-page{
    background-image: linear-gradient(#5263c2, #9375ff);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-home{
    padding-left: 20px;
}

.home-page h1{
    color: white;
    font-family: bold 'Quicksand';
    font-size: 40px;
}
.home-page p{
    color: white;
    font-family: bold 'Quicksand';
    font-size: 19px;
    margin-top: 10px;
}
.more{
    font-family: Bold 'Quicksand';
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffe101;
    color: #00a69c;
    padding: 15px 60px;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 2px 7px -2px black;
    margin-top: 20px;
}
.home-img{
    width: 600px;
}
.home{
    background-color: white;
    margin-bottom: -50px;
}
.home h1{
    color: #00a69c;
    position: relative;
    text-align: center;
    margin: 40px;
    font-size: 50px;
    font-family: 'quicksand';
    font-weight: bold;
}
.home-box{
    background-color: #e4dff7;
    height: 500px;
    text-align: center;
    display: table;
    width: 100%;
}
.box{
    display: inline-block;
    width: 350px;
    height: 350px;
    background-color: white;
    margin: 50px;
    box-shadow: 0px 3px 4px -2px black;
    padding-top: 2%;
}
.box img{
    height: 200px;
    width: 200px;
    background-color: #ffeb53;
    padding: 10%;
    border-radius: 5%;
}
.box h3{
    font-size: 30px;
    margin-top: 5%;
    font-family: 'quicksand';
    font-weight: 900;
}
.box:hover{
    opacity: 0.5;
    cursor: pointer;
}
.home-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-2 img{
    width: 350px;
    margin: 10% 5% 0 5%;
}
.text-2{
    font-size: 15px;
    padding-right: 20px;
    margin: 4%;
    font-family: 'quicksand';
}
.text-2 h1{
    color: #00a69c;
    font-weight: 600;
}
.text-2 ul{
    color: gray;
}
.text-2 p{
    color: gray;
}
.home-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-3 img{
    width: 350px;
    margin: 5% 5% 5% 5%;
}
.text-3{
    font-size: 15px;
    padding-left: 20px;
    margin: 4%;
    font-family: 'quicksand';
}
.text-3 h1{
    color: #00a69c;
    font-weight: 600;
}
.text-3 ol{
    color: gray;
}
.text-3 p{
    color: gray;
}
.home-4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-4 img{
    width: 350px;
    margin: 5% 5% 5% 5%;
}
.text-4{
    font-size: 15px;
    padding-left: 20px;
    margin: 4%;
    font-family: 'quicksand';
}
.text-4 h1{
    color: #00a69c;
    font-weight: 600;
}
.text-4 ul{
    color: gray;
}
.text-4 p{
    color: gray;
}
.contact{
    background-color: #0c1753;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-5 h1{
    color: white;
    font-family: 'quicksand';
    font-size: 3em;
    font-weight: 900;
    margin: 30% 5% 5% 15%;
}
form p{
    color: white;
    font-family: 'quicksand';
    font-size: 1.5em;
}
.submission{
    display: table;
    margin: 5% 5% 5% 5%;

}
label{
    display: table-row;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid rgb(175, 178, 179);
    border-radius: 4px;
    outline: none;
    font-family: 'quicksand';
    font-size: 15px;
}
.textarea-field{
    height: 150px;
    padding-top: 5%;
}
#submit{
    width: 400px;
    height: 40px;
    background-color: #ffe101;
    border: none;
    border-radius: 4px;
    margin-top: 2%;
    font-size: 25px;
    font-family: 'quicksand';
}
#submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

.containter-f{
    max-width: 1170px;
    margin: auto;
}
footer ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h1{
    font-family: 'quicksand';
    font-size: 30px;
    color: #00a69c;
    margin-bottom: 30px;
    position: relative;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-family: 'quicksand';
    font-size: 16px;
    color: #0c1753;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    opacity: 0.7;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: #0c1753;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 20px;
    font-size: 40px;
}
.footer-col .social-links a:hover{
    opacity: 0.7;
}
footer{
    background-color: #efe9ff;
}
.copyright{
    background-color: #0c1753;
    height: 30px;
    width: 100%;
    margin: 5% 0 5% 0;
}
.copyright h4{
    font-size: 20px;
    font-family: 'quicksand';
    color: white;
    text-align: center;
}